$sm: new-breakpoint(min-width 34em);
$md: new-breakpoint(min-width 48em);
$lg: new-breakpoint(min-width 62em);
$xl: new-breakpoint(min-width 75em);

.hide-xs {
  display: none;
}

@include media($sm) {
  .hide-xs {
    display: inline;
  }
}
