@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter($grid-columns, $gutter); }
  &:nth-child(#{$nth}+1) { clear: none }
}

.cards {
  @include row();
  clear: both;
}

.cards .item--card {
  @include span-columns(6);
  @include omega(2n);
  margin-bottom: $gutter;
}

.xs-cards--float .item--card {
  @include span-columns(12);
  clear: both;
  margin-bottom: $gutter;
}

.xs-cards--float .item__thumb {
  @include span-columns(4);
  margin: 0 0 $gutter $gutter;
  float: right;
}

@include media($md) {
  .cards--four .item--card {
    @include span-columns(3);
    @include omega-reset(2n);
    @include omega-reset(1n);
    @include omega(4n);
  }

  .xs-cards--float .item__thumb {
    @include span-columns(12);
    margin: 0 0 $small-spacing;
    float: none;
  }

  .cards--three .item--card {
    @include span-columns(4);
    @include omega-reset(2n);
    @include omega(3n);
  }
  .cards--two .item--card {
    @include span-columns(6);
    @include omega(2n);
  }
}
