footer {
  min-height: 100vh;
  margin-top: $gutter;
  padding-top: $gutter;

  h2, h3 {
    padding: 0 $gutter/2;

    @include media($md) {
      padding: 0;
    }
  }

  p, ul {
    padding: 0 $gutter;
    
    @include media($md) {
      padding: 0;
    }
  }
}

footer a:link, footer a:visited {
  color: $primary;
}

.footer__content {
  @include outer-container;
}

.footer__section {
  @include row;
  padding-bottom: $gutter;
}

@include media($sm) {
  nav.sitemap__section,
  .footer__section--colophon section {
    @include span-columns(4);
  }

}

@include media($md) {
  nav.sitemap__section,
  .sitemap__section {
    @include span-columns(3);
  }
}
