footer {
  min-height: 100vh;
  margin-top: $gutter*2;

  h2, h3 {
    padding: 0;

    @include media($md) {
      padding: 0;
    }
  }

  p, ul {
    padding: 0;

    @include media($md) {
      padding: 0;
    }
  }
}

footer a:link, footer a:visited {
  color: $primary;
}

.footer__content {
  @include outer-container;
}

.footer__section__content {
  @include pad();
  padding-top: $gutter*2;
}

.footer__section {
  @include row;
  padding: 0 0 $gutter 0;
}

.sitemap__section,
.colophon__section {
  @include pad();
}

.sitemap__section--inverted {
  color: $primary;
  background: $background;
}

.footer__section--colophon {
  border-top: 1px solid $background;
  padding-top: $gutter;
  font-size: modular-scale(-1);
}

@include media($sm) {
  nav.sitemap__section,
  .footer__section--colophon section {
    @include span-columns(4);
  }

}

@include media($md) {
  nav.sitemap__section,
  .sitemap__section,
  .footer__section--colophon .colophon__section {
    @include span-columns(3);
  }
  .footer__section--colophon .colophon__section--first {
    @include shift(3);
  }
}
