.grid {
  @include row;
  margin-bottom: $gutter;
}
.grid__item {
  width: 33.33%;
  float:left;
}

.grid__item--figure a {
  @include pad-ratio(800, 600);
}

.grid__item a {
  display: block;
  position: relative;
}

@include media($md) { // show descriptions on hover when larger than medium breakpoint


  .grid__item a img {
    opacity: 0;
  }

  .grid__item a:hover img.lazyloaded {
    opacity: .15;
  }

  .grid__item a:hover:after {
    @include pad;
    content: attr(alt);
    color: $primary;
    position: absolute;
      top: 0;
      left: 0;
  }

}

@include media($lg) {

  .grid__item a:hover:after {
    font-size: modular-scale(1);
  }

}

.grid__item img {
  display: block;
}

.grid__item--figure {}
.grid__item--text {}
