@mixin pad-ratio($x, $y, $selector: img) {
  position: relative;
  padding: 0 0 percentage($y/$x) 0;
  height: 0;
  #{$selector} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

img {
  height: auto;
}

article figure {
  @include pad($gutter*2 0);
}

figure img {
  background: $silver;
}

.figure .ratio-box {
  margin-bottom: $gutter/2;
}

.figure--full .ratio-box {
  @include pad-ratio(1088, 500);
}

.figure__image--full {
  width: 100%;
}

.fade-box .lazyload,
 .fade-box .lazyloading {
    opacity: 0;
}

.fade-box .lazyloaded {
    opacity: 1;
    transition: opacity 400ms;
}

.figure__caption p {
  @include shift(0);
  @include span-columns(12);
}

.figure__caption--full {
  @include pad(0 default);
}
