.item:link, .item:visited {
  text-decoration: none;
  color: $primary;
  @include pad(0 0 default 0);
}

.item:hover h2 {
  text-decoration: underline;
}

.item__thumb {}

.item__thumb img {
  height: auto;
}

.item__content .title {
  margin-bottom: 0;
  font-weight: bold;
}

.item__content .subtitle {
  margin-bottom: 0;
  font-family: Produkt Web Regular;
  font-weight: 100;
}

.item__content .date {
  color: $secondary;
}

.item--row .item__content {
}

.item--card {}

.item--row {
  @include row;
  display: block;
}


.item--row .item__thumb {
  @include span-columns(4);
}

.item--row .item__content {
  @include span-columns(8);
}

@include media($sm) {
  .item__date {
    @include span-columns(2);
  }
  .item--row .item__content {
    @include span-columns(6);
  }
}

@include media($lg) {
  .item__date {
    @include span-columns(2);
  }
  .item--row .item__content {
    @include span-columns(6);
  }
  .item--row .item__thumb {
    @include span-columns(3);
    @include shift(1);
  }
}
