body {
  margin: 0;
  background: $background;
}

main {
  @include outer-container;
}

.section--padded {
  padding: 0 $gutter/2;
}

.section {
  padding-bottom: $gutter;
}

.fluid-width-video-wrapper {
  clear: both;
}
