.nav--cross, .nav--primary {
  @include outer-container();
}

.nav--cross .nav__list {
  font-size: modular-scale(-1);
}

.nav__list {
  @include pad;
  list-style-type: none;
  margin: 0;
}

.nav--primary .nav__list {
}

.body--subpage .nav--primary .nav__list {
}

.nav__item {
  display: inline-block;
  vertical-align: top;
  margin-right: $gutter/2;
}

.nav__item--last {
  margin-right: 0;
}

.nav__item--active {
  font-weight: 800;
}

.nav__link:link, .nav__link:visited {
  color: $accent;
  text-decoration: none;
}

.nav__link:hover, .nav__link:active {
  text-decoration: underline;
}

.nav__item--icon {
  float: right;
}

.nav__icon {
  fill: $accent;
  width: 20px;
  height: 20px;
  line-height: 24px;
}

@include media($md) {
  .nav--cross {
//    padding: 0 $gutter;
  }

  .nav--cross .nav__list {
    font-size: modular-scale(0);
  }

  .nav--primary .nav__list {
    font-size: modular-scale(1);
  }

  .body--subpage .nav--cross {
//    padding: 0 $gutter*2;
  }

  .body--subpage .nav--primary {
//    padding:  0 $gutter;
  }
}

.nav--page {
  border-top: 1px solid $accent;
}

.nav--page .nav__item {
  display: block;
  @include pad;
  @include span-columns(6);
}

.nav__item--previous {
}
