/* shared-includes/molecules/media/sandbox.html

{% if page.sandbox %}
	<figure class="sandbox">
		<img class="sandbox__img" src="{{ page.sandbox.image }}" alt="{{ page.sandbox.caption }}">
		<figcaption class="sandbox__figcaption">{{ page.sandbox.caption }}</figcaption>
	</figure>
{% endif %}

*/

.sandbox {
  font-style: italic;
  color: $gray;
}

.sandbox__img {
  width: 100%;
}
