ul.toc {
  padding: 0;
  color: $secondary;
}

ul.toc a:link, ul.toc a:visited {
  color: $secondary;
  text-decoration: none;
}

ul.toc a:hover, ul.toc a:active {
  color: $blue;
  text-decoration: underline;
}

ul.toc li {
  margin: 0 1em .5em;
}

ul.toc li>ul {
  margin: .5em 0 0 .5em;
}

ul.toc, ul.toc ul {
  list-style-type: disc;
}

@include media($sm) {
  .article--has-toc .article__row {
    @include row;
    @include span-columns(12);
  }

  .article--has-toc .toc {
    @include span-columns(4);
  }

  .article--has-toc .content {
    @include span-columns(8);
  }
}
