/*
TYPOGRAPHY

body
h1, h2, h3, h4, h5, h6

.lead
  p
  a:link, a:visited

.subhead

.title
.subtitle

.article__header
.article--noimage .title

article .subtitle

.article--nosubtitle .title

hr
hr:after

.article--dropcaps h3

.date

.byline

.footnotes
*/

// Base HTML elements

body {
  font-family: $base-font-family;

  // Activate fancy font features
  -moz-font-feature-settings: "liga", "kern";
  -moz-font-feature-settings:"liga=1, kern=1";
  -ms-font-feature-settings:"liga", "kern";
  -o-font-feature-settings:"liga", "kern";
  -webkit-font-feature-settings:"liga", "kern";
  font-feature-settings: "liga", "kern";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
}

// Page header elements

.main__header {
  padding: $gutter/2 $gutter/2 $gutter;
}

.article__header {
  padding: $gutter/2 $gutter/2 0;
}

.main__header,
.article__header {
  @include row;
  @include clearfix;

  @include media($lg) {
    margin-bottom: $gutter;
  }

  @include media($xl) {
    padding: $gutter 0;
  }
}

  .lead {
    font-family: $display-font-family;
    font-weight: 100;
    font-size: modular-scale(2);
    line-height: 1.25;
    display: block;
    margin: 0 0 $gutter/2;

    @include media($md) {
      font-size: modular-scale(4);
    }
  }

    .lead p {
      display: inline;
    }

    .lead strong {
      font-weight: 400;
      background: transparent;
    }

    .lead a:link,
    .lead a:visited {
      text-decoration: none;
      color: $primary;
      border-bottom: 1px solid $primary;
    }

  .subhead {
    color: $accent;
    @include pad(0);

    @include media($md) {
      font-size: modular-scale(1);
      @include pad(0);
      @include shift(0);
      @include span-columns(8);
    }
  }

// Articles

.article--dropcaps h3 {
  @include row;
  @include span-columns(12);
  text-align: center;
  font-size: modular-scale(2);
}

.title,
.subtitle {
  font-size: modular-scale(-1);
  margin-bottom: 0;

  @include media($md) {
    font-size: modular-scale(4);
  }
}

.title {
  font-size: modular-scale(1);
  padding-top: $small-spacing;

  @include media($md) {
    font-size: modular-scale(4);
  }
}

.article__header .title,
.article__header .subtitle {
  font-size: modular-scale(2);
  padding-top: 0;

  @include media($md) {
    font-size: modular-scale(4);
  }
}

.article__header .subtitle {
  font-weight: 100;
}

  .article--noimage .title {
    padding-top: 0;
  }

  .article--nosubtitle .title {
    margin-bottom: $small-spacing;
  }

  .subtitle {
    font-family: $display-font-family;
    font-weight: 400;
  }

  .date {
    @include clearfix;
    color: $secondary;
    font-weight: bold;
    display: block;
    padding: $small-spacing 0;
  }

  .byline {
    display: block;
    padding: $small-spacing 0;
    font-style: italic;
  }

  .article__header .subhead p {
    padding: 0;

    @include media($md) {
      @include span-columns(12);
      font-size: modular-scale(0);
      padding: 0;
      margin: 0;
    }
  }

article p,
article blockquote {
  padding: 0 $gutter;

  @include media($md) {
    font-size: modular-scale(1);
    padding: 0;
    @include span-columns(8);
    @include shift(2);
  }
}

article blockquote p {
  @include media($md) {
    @include span-columns(12);
    @include shift(0);
    font-size: modular-scale(0);
    margin-left: $gutter;
    margin-bottom: 0!important;
  }
}

.article--has-toc .content {
  padding: $gutter;
}

.article--has-toc .content p {
  padding: 0;
}

.article--has-toc p {
  @include media($md) {
    font-size: modular-scale(0);
    padding: 0;
    @include span-columns(12);
    @include shift(0);
  }
}

article h2 {
  clear: both;
}

article .date,
article .byline {
  @include span-columns(12);
  @include shift(0);
}

article .byline {
  margin-bottom: 0;
  padding-bottom: 0;
}

.footnotes {
  @include row();
  @include span-columns(12);
  font-size: modular-scale(-1);
}


.article--askew {
  @include media($md) {
    .article__header__date {
      @include span-columns(3);
      .date {
        margin-left: 0;
        font-size: modular-scale(0);
      }
    }
    .article__header__title {
      @include span-columns(7);
    }
    p,
    blockquote {
      @include span-columns(7);
      @include shift(3);
    }
    blockquote p {
      @include span-columns(12);
      @include shift(0);
      font-size: modular-scale(0);
      margin-left: $gutter;
      margin-bottom: 0!important;
    }
  }
}
