body {
-moz-font-feature-settings: "liga", "kern";
-moz-font-feature-settings:"liga=1, kern=1";
-ms-font-feature-settings:"liga", "kern";
-o-font-feature-settings:"liga", "kern";
-webkit-font-feature-settings:"liga", "kern";
font-feature-settings: "liga", "kern";
}

.lead p {
  font-family: "Produkt Web Regular", serif;
  font-size: modular-scale(1);
  color: $accent;
  strong {
    font-family: "Produkt Web Regular", serif;
  }
}

@include media($md) {
  .lead p {
    font-size: modular-scale(3);
  }
}
