body {
  margin: 0;
  background: $accent;
}

.body--subpage {}

.main {
  @include outer-container;
  @include pad;
  background: $background;
}

.body--subpage .main {
  background: lighten($accent,50%);
}
