.nav--cross {
  @include outer-container();
}

.nav--cross .nav__list {
  font-size: modular-scale(-1);
}

.nav--primary {
  @include outer-container();
}

.body--subpage .nav--cross {
  @include outer-container();
}

.body--subpage .nav--primary {
  @include outer-container();
}

.nav__list {
  @include pad;
  list-style-type: none;
  margin: 0;
}

.nav--primary .nav__list {
  background: $background;
}

.nav__item {
  display: inline-block;
  vertical-align: top;
  margin-right: $gutter/2;
}

.nav__item--last {
  margin-right: 0;
}

.nav__item--active {
  font-weight: 800;
}

.nav__link:link, .nav__link:visited {
  color: $secondary;
}

.nav__item--icon {
  float: right;
}

.nav__icon {
  fill: $secondary;
  width: 20px;
  height: 20px;
  line-height: 24px;
}

@include media($md) {
  .nav--cross {
    padding: 0 $gutter;
  }

  .body--subpage .nav--cross {
    padding: 0 $gutter*2;
  }

  .body--subpage .nav--primary {
    padding:  0 $gutter;
  }
}
