.nav--cross {
  @include outer-container();
  padding-left: 2em;
}

.nav--primary {
  @include outer-container();
}

.body--subpage .nav--cross {
  @include outer-container();
  padding-left: 4em;
}

.body--subpage .nav--cross a {
  color: $primary;
}

.body--subpage .nav--primary {
  @include outer-container();
  padding:  0 2em;
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav--primary .nav__list {
  background: $background;
}

.body--subpage .nav--primary .nav__list {
  background: $accent;
}

.nav__item {
  display: inline-block;
}

.nav__item--active {
  font-weight: bold;
}

.nav__link:link, .nav__link:visited {
  color: $secondary;
}
